html,
body{
    height: 100%;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
}

.accent{
    color:#4D5AE5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}

.logo{
    color: #2E2F42;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}

.studio{
    color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.portfolio{
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.contact{
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.list{
    list-style: none;
}

.mail{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.number{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    }
    
.back-ground{
    background-color: #2E2F42;
}

.title{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
   

}

.button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subject{
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.heading{
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.caption{
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.background{
    background-color: #F4F4FD;
}

.color{
    background-color: #FFFFFF;
}

.subject-section{
    color: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text-section{
    color: #434455;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

footer{
    background-color: #2E2F42;
}

.logo-footer{
    color: #F4F4FD;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
}

.text-footer{
    color: #E7E9FC;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
}
